<html>
    <%- include('./partial/head.ejs') %>

    <body>

        <%- include('./partial/nav.ejs') %>

        <div class="not-found content" >
            <p>OOPS! Page not found.</p> 
        </div>

        <%- include('./partial/footer.ejs') %>
    </body>
</html>