<html>
    <%- include('./partial/head.ejs') %>

    <body>
       
        <%- include('./partial/nav.ejs') %>

        <div class="about content">
            <h2 >About Us</h2>
            <p>This blog forum created by <strong>Abhilash Tyagi</strong> . You can write your blogs here. </p>
        </div>

        <%- include('./partial/footer.ejs') %>
        
    </body>
</html>