<head>
    <meta charset="utf-8">
    <meta name="viewpoint" content="width = device-width , intial-scale = 1.0">
    <title>Blog Ninja | <%= title %></title>
    <link rel="stylesheet" href="/styles.css">
  
</head>