<nav>
    <div class="site-title">
        <a href="/"><h1>Blog Mania</h1></a>
        <p>A public Site</p>
    </div>
    
    <ul >
        <li class="navi"><a href="/">Blogs</a></li>
        <li class="navi"><a href="/about">About</a></li>
        <li class="navi"><a href="/blogs/create">New Blog</a></li>
    </ul>    
</nav>